body{
    min-width:890px;
}
/*header*/
header>ul{
    margin:15px;
    height:65px;
    line-height:65px;
}
header>ul>li{
    float: left;
    display: inline-block;
}
header>ul>li:first-child{
    width:15%;
    font-size:2.5em;
    color: #ff3333;
    font-weight:500;
}
header>ul>li:nth-child(2){
    width:60%;
    font-size:1.8em;
}
header>ul>li:last-child{
    width:25%;
    font-size:1.2em;
    color: #8a8a8a;
}
hr{
    width:100%;
    border:none;
    border-top:1px solid #eee;
}
#site{
    margin:15px;

}
#site>li{
    float: left;
    margin-right:15%;
    padding-bottom: 3px;
    font-size:1.5em;
    color: #8a8a8a;
    text-align: left;
    cursor: pointer;
    border-bottom:1px solid transparent;
}
#site>li>img{
    vertical-align: -3px;
}
#seat{
    width:100%;
    padding:20px;
    max-height:550px;
    border:1px solid #ddd;
}
#choice{
    max-height:400px;
    /*margin-bottom:50px;*/
    overflow:auto;
}
#choice form{
    margin:0 auto 30px;
}
#choice form table td{
    width:22px;
    height:22px;
    vertical-align: middle;
    text-align: center;
    padding:2px 4px;
    /*border:1px solid #b6b6b6;*/
}
#choice form table td[colspan='3']:not(.except) {
    min-width:25px;
    min-height:14px;
    padding:0;
    background-color: #b9b9b9;
    border-radius:50%;
    color: #fff;

}

#choice form table .platform{
    border:1px solid #b6b6b6;
}
#choice form table td input{
    position: absolute;
    width:0;
    height:0;
    margin:0;
    visibility: hidden;
}
#choice form table td img{
    width:20px;
    height:20px;
}
.placetip{
    width:100%;
    text-align: center;
    color: #ff6e68;
    display: none;
}
.unchecked{
    cursor: pointer;
}
.mychecked{
    cursor: auto;
}
.checked{
    cursor: auto;
}
#seat>#btnGroup>input[type="submit"]{
    float: right;
    margin:15px 0 0;
    padding:3px 8px;
    outline: none;
    background:#fff;
    color:#ff3333;
    border:1px solid #ff4d46;
    cursor: pointer;
}
#seat>#btnGroup>input[type="submit"]:hover{
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    color: #ffffff;
    background: #ff6e68;
    border:1px solid #ff6e68;
}
#tip{
    /*border-top:1px solid #eee;*/
    height:100px;
}
#tip span{
    color: #ff3333;
}
#imgtip{
    width:80%;
    margin:20px auto 15px;
    text-align: center;
}
#imgtip>li{
    float: left;
    margin-left:15%;
}
#imgtip>li>img{
    width:25px;
    height:25px;
    margin-right:5px;
    vertical-align: middle;
}
.fritip>span{
    padding-right:3px;
}
.backManage{
    width:80%;
    margin:15px auto;
}
.backManage>a{
    text-decoration: none;
    color: #ff6e68;
}
.backManage>a:hover{
    border-bottom:1px solid #ff6e68;
}