<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keyword" content="抢票系统"/>
    <meta name="description" content="易班——抢票"/>
    <link rel="short icon" type="image/x-icon" href="img/logo.ico"/>
    <title>抢票系统——后台管理</title>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" media="screen" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/back_stage_view.css"/>
</head>
<body>
    <header>
        <h1 class="text-center">易抢票—后台管理系统</h1>
    </header>
    <hr/>
    <main>
        <form name="backView" action="#" method="">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>易班ID</th>
                    <th>姓名</th>
                    <th>座位号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1234</td>
                    <td>李文斐</td>
                    <td>2楼 3排 34号 </td>
                    <td><input class="btn-primary" type="button" value="删除"/></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2345</td>
                    <td>周成</td>
                    <td>1楼 3排 34号</td>
                    <td><input class="btn-primary" type="button" value="删除"/></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>3456</td>
                    <td>Lee</td>
                    <td>1楼 3排 12号</td>
                    <td><input class="btn-primary" type="button" value="删除"/></td>
                </tr>
                </tbody>
            </table>
        </form>

        <button class="btn btn-primary btn-sm btnView">一键查看</button>
    </main>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    window.onload=function(){
        var oBackView=document.getElementsByName('backView')[0];
        var oBtnView=document.getElementsByClassName('btnView')[0];
//        oBackView.style.display='none';
        oBtnView.onclick=function(){
            oBackView.style.display='block';
        }

    }

</script>
</body>
</html>